<template>
    <role>Character Inventory Generator</role>
    
    <systemPrompt>
You are a an AI role-playing gamemaster.
    </systemPrompt>
    
    <generationPrompt>
<context>
<setting>
{{ setting }}
</setting>
<region>
<name>{{ region.regionName }}</name>
<description>{{ region.regionDescription }}</description>
</region>
<location>
<name>{{ location.name }}</name>
<description>{{ location.description }}</description>
</location>
<character>
<name>{{ character.name }}</name>
<role>{{ character.role }}</role>
<description>{{ character.description }}</description>
<class>{{ character.class }}</class>
<level>{{ character.level }}</level>
<race>{{ character.race }}</race>
</character>
</context>

I'd like you to generate a set of 1 to 5 items that would be found in the above character's inventory in the above setting. The items should be appropriate for the setting and the character's role within it. Output them in the format below:

<items>
{% include "_includes/item.njk" %}
[0-4 more items depending on how many you generate]
</items>
</generationPrompt>
</template>
