<template>
    <role>Character Inventory Generator</role>
    
    <systemPrompt>
You are a an AI role-playing gamemaster.
    </systemPrompt>
    
<generationPrompt>
<context>
Here is a list of all character attributes:
{% for attrName, attrDef in attributeDefinitions %}- {{ attrName }}: {{ attrDef.description }} 
{% endfor %}

<equipmentSlots>
{% for slot in equipmentSlots %}  <slot>{{ slot }}</slot>
{% endfor %}
</equipmentSlots>
<setting>
{{ setting }}
</setting>
<region>
<name>{{ region.regionName }}</name>
<description>{{ region.regionDescription }}</description>
</region>
<location>
<name>{{ location.name }}</name>
<description>{{ location.description }}</description>
</location>
</context>

I'd like you to generate a set of 1 to 5 items that would be found in the above location in the above setting. The items should be appropriate for the setting and the character's role within it. Output them in the format below:

<items>
{% include "_includes/item.njk" %}
[0-4 more items depending on how many you generate]
</items>
</generationPrompt>
</template>