<template>
    <comment>This prompt runs after the location generator prompt, with the context from the location generator still incliuded, hence the lack of a system prompt and other context.</comment>
    <role>Location NPC generator</role>
    <generationPrompt>

<context>
Here is a list of all character attributes:
{% for attrName, attrDef in attributeDefinitions %}- {{ attrName }}: {{ attrDef.description }} 
{% endfor %}

Attributes for an NPC should be rated as one of: poor, below average, average, above average, excellent, legendary.

Here's a list of deceased NPCs:
{% include "_includes/npc-banlist.njk" %}

Here's a list of existing NPCs in other regions:
{% for npc in existingNpcsInOtherRegions %}- {{ npc.name }}: {{ npc.shortDescription }} 
{% endfor %}

Here's a list of existing NPCs in other locations in this region:
{% for npc in existingNpcsInOtherLocations %}- {{ npc.name }}: {{ npc.shortDescription }} 
{% endfor %}

Here's a list of existing NPCs in this location:
{% for npc in existingNpcsInThisLocation %}- {{ npc.name }}: {{ npc.shortDescription }} 
{% endfor %}
</context>

Generate 0 to 3 NPCs for the location above. Use your judgment about how many, based on whether it makes sense for the location to be empty, have one or two NPCs, or be a bustling hub of activity. Output the NPCs in this format:

<npcs>
<npc>
<name>…</name>
<description>3 sentence description of the NPC, including their role in the location and any notable characteristics or behaviors</description>
<shortDescription>10 words or less description of the NPC</shortDescription>
<class>RPG class like warrior or cyberninja, job like blacksmith or cashier, or osmething generic like townsperson, peasant or citizen</class>
<race>human, elf, android, etc</race>
<attributes>
{% for attrName, attrDef in attributeDefinitions %}  <attribute name="{{ attrName }}">rating (see above)</attribute>
{% endfor %}
</attributes>
</npc>

[… more NPCs …]

</npcs>
</generationPrompt>
</template>