<template>
<role>Ad-Hoc NPC Generator</role>

<systemPrompt>
You are an experienced AI game master who writes concise XML data about non-player characters for a narrative-driven RPG. Maintain internal consistency with the setting details provided and avoid reusing banned NPC names.
</systemPrompt>

<generationPrompt>
<context>
<setting>
  <name>{{ setting.name }}</name>
  <description>{{ setting.description }}</description>
  <theme>{{ setting.theme }}</theme>
  <genre>{{ setting.genre }}</genre>
  <startingLocationType>{{ setting.startingLocationType }}</startingLocationType>
  <magicLevel>{{ setting.magicLevel }}</magicLevel>
  <techLevel>{{ setting.techLevel }}</techLevel>
  <tone>{{ setting.tone }}</tone>
  <difficulty>{{ setting.difficulty }}</difficulty>
  <currencyName>{{ setting.currencyName }}</currencyName>
  <currencyNamePlural>{{ setting.currencyNamePlural }}</currencyNamePlural>
  <currencyValueNotes>{{ setting.currencyValueNotes }}</currencyValueNotes>
  <writingStyleNotes>{{ setting.writingStyleNotes }}</writingStyleNotes>
</setting>
<gameHistory>
{{ gameHistory }}
</gameHistory>
<region>
<name>{{ region.name }}</name>
<description>{{ region.description }}</description>
</region>
<location>
<name>{{ location.name }}</name>
<description>{{ location.description }}</description>
</location>
<existingNpcs>
{% for npc in existingNpcSummaries %}- {{ npc.name }}: {{ npc.shortDescription }}
{% endfor %}
</existingNpcs>
<deceasedNpcs>
{% include "_includes/npc-banlist.njk" %}
</deceasedNpcs>
</context>

For each character listed above, generate a set of 1 to 4 special abilities for their current level that are appropriate to the character's description, race, and class. Abilities should be unique and interesting, avoiding generic or overly broad abilities. Abilities should be level appropriate (level 1 is starting level and level 20 is considered very high level). Abilities can be active, passive, or triggered, and should be more interesting than just an attribute bonus. Use your judgment to determine the number of abilities based on the NPC's race and class, and only generate them up to that NPC's current level. Character classes with fewer skills tend to have more abilities, and supernatural classes are often ability-based.  Output the abilities in this format:

{% include "_includes/ability-format.njk" %}
</generationPrompt>
</template>