<template>
    <role>Scenery Image Generator</role>
    
    <systemPrompt>
You are a an AI role-playing gamemaster.
    </systemPrompt>
    
    <generationPrompt>
<context>
  <setting>
    <name>{{ setting.name }}</name>
    <description>{{ setting.description }}</description>
    <theme>{{ setting.theme }}</theme>
    <genre>{{ setting.genre }}</genre>
    <startingLocationType>{{ setting.startingLocationType }}</startingLocationType>
    <magicLevel>{{ setting.magicLevel }}</magicLevel>
    <techLevel>{{ setting.techLevel }}</techLevel>
    <tone>{{ setting.tone }}</tone>
    <difficulty>{{ setting.difficulty }}</difficulty>
    <currencyName>{{ setting.currencyName }}</currencyName>
    <currencyNamePlural>{{ setting.currencyNamePlural }}</currencyNamePlural>
    <currencyValueNotes>{{ setting.currencyValueNotes }}</currencyValueNotes>
    <writingStyleNotes>{{ setting.writingStyleNotes }}</writingStyleNotes>
    <races>{{ (setting.races or []) | join(', ') }}</races>
  </setting>
</context>

I'd like you to generate a set of {{ minLocations }}-{{ maxLocations }} locations (called a region) for a text adventure game. First, make a numbered list of short location names (use your judgment about how many). Then, output the locations in this format:

<region>
<regionName>…</regionName>
<regionDescription>3 sentence description of the region as a whole</regionDescription>
<relativeLevel>Integer from -1 to +3</relativeLevel>

<location>
<name>…</name>
<description>3 sentence description</description>
<relativeLevel>Integer from -3 to +3</relativeLevel>
<notesAboutExits>A few sentences on which exits make sense for this location and why</notesAboutExits>
<exits>
<exit>Name of other location in region</exit>
[0-4 more exits depending on location]
</exits>
</location>

<location>
<name>…</name>
<description>3 sentence description</description>
<relativeLevel>Integer from -3 to +3</relativeLevel>
<notesAboutExits>A few sentences on which exits make sense for this location and why</notesAboutExits>
<exits>
<exit>Name of other location in region</exit>
[0-4 more exits depending on location]
</exits>
</location>

[… more locations …]
</region>

Create a region that fits the following criteria and fits into the context of the setting provided above.
{% if regionName -%}
- Region Name: {{ regionName }}
{% endif -%}
{% if regionDescription -%}
- Region Description: 
{{ regionDescription }}
{% endif -%}
{% if regionNotes -%}
- Type of region or other notes: 
{{ regionNotes }}
{% endif -%}
</generationPrompt>
</template>
