Here is a list of all character attributes:
{% for attrName, attrDef in attributeDefinitions %}- {{ attrName }}: {{ attrDef.description }} 
{% endfor %}

Attributes for an NPC should be rated as one of: poor, below average, average, above average, excellent, legendary.

These NPC names are banned (names should not contain any of these):
{% for word in bannedWords %}- {{ word }}
{% endfor %}
{#
Here's a list of existing NPCs in other regions (to avoid generating duplicates):
{% for npc in existingNpcsInOtherRegions %}- {{ npc.name }}: {{ npc.shortDescription }} 
{% endfor %}
#}
Here is a list of banned NPC concepts
- Self-appointed guardian
- Person who gives cryptic advice

Here is the region for which you are generating NPCs:
<region>
<name>{{ region.name }}</name>
<description>{{ region.description }}</description>
</region>

Here are the character concepts for the region:
<characterConcepts>
{% for concept in characterConcepts %}- {{ concept }}
{% endfor %}
</characterConcepts>
Note that character concepts are here to provide inspiration and context. It may not be appropriate to generate *any* NPCs in some regions, or very few.

Here are some secrets about the region:
<secrets>
{% for secret in secrets %}- {{ secret }}
{% endfor %}
</secrets>

Here are all the locations in the region:
<allLocationsInRegion>
{% for loc in allLocationsInRegion %}
<location>
<name>{{ loc.name }}</name>
<description>{{ loc.description }}</description>
</location>
{% endfor %}
</allLocationsInRegion>

</context>

NPC Generation Guidelines:
- What is considered important depends on the region. If the region is someone's house, then the people who live in the house are important. Other important people might be leaders of the region (mayor, etc); important merchants like a blacksmith, car salesman, arms dealer, etc; any other prominent individuals (famous people, wizards, healers, well known mercenaries); or just interesting people who aren't background characters. To form a cohesive setting, you may connect newly generated NPCs with one another or with the existing NPCs listed in the gameState tag. 
- Hostile regions may have multiple important hostile NPCs, and lawless regions may have a mix of hostiles and friendlies. Towns, cities, public spaces, and social hubs will often have multiple important NPCs, mostly friendly but often with a hostile or two.

<task>
{# First, make a list of names of existing NPCs from the gameState tag. #}

First, generate {{ numImportantNPCs }} important or prominent NPCs appropriate for the region above. See the above guidelines for details on how to generate them. 

Then, generate 3 short memories for each newly generated NPC, from their perspective, about recent significant events they have experienced. These should be no more than 2 sentences long each, and should include interactions with other NPCs, places, things, etc.

Finally, check each newly generated NPC against the banned names, banned concepts, and existing NPCs listed in the gameState tag. If any newly generated NPC matches one of these, generate a new NPC to replace it.
</task>

{% if config.character_gen_instructions %}
These user notes are important for generating the NPCs:
<userNotes>
{{ config.character_gen_instructions }}
</userNotes>
{% endif %}

Format your response as follows:

<response>
{#<existingNpcs>
<npcName>Exact name of an existing NPC</npcName>
<npcName>Exact name of an existing NPC</npcName>
<!-- ...and so on. Every existing NPC in the gameState should be listed here. -->
</existingNpcs>
#}<npcs>
<npc>
<name>Full name of the NPC</name>
<description>3 sentence description of the NPC, including their role in the location and any notable characteristics or behaviors. Replace their name with %NAME%.</description>
<shortDescription>10 words or less description of the NPC. Replace their name with %NAME%.</shortDescription>
<class>RPG class like warrior or cyberninja, job like blacksmith or cashier, or osmething generic like townsperson, peasant or citizen</class>

<race>their race (human, elf, android, etc)</race>

<gender>male, female, none, or other</gender>
<isHostile>true or false</isHostile>
<relativeLevel>Integer from +2 to +5 (relative to the average level in the region)</relativeLevel>
<location>The location in the region where this NPC is located</location>
<currency>Integer amount of currency the NPC has on hand, based on setting norms.</currency>
<attributes>
{% for attrName, attrDef in attributeDefinitions %}  <attribute name="{{ attrName }}">rating (see above)</attribute>
{% endfor %}
</attributes>
<personality>
    <type>Myers-Briggs type, -dere archetype, Enneagram type, or DnD alignment, as appropriate -- whatever works best. Optionally, 2 types separated by commas, so long as they make sense together.</type>
    <traits>optionally, any neurodivergences or mental health conditions (e.g. ADHD, autism, anxiety, depression, bipolar, PTSD, sociopathy, psychopathy, etc). Comma separated, usually none, no more than 3</traits>
    <characterArc>
        <shortTerm>A brief description of the NPC's short-term active personal growth arc</shortTerm>
        <longTerm>A brief description of the NPC's long-term personal growth arc or development over the course of the campaign or story</longTerm>
    </characterArc>
    <goals>
        <goal>A specific, long-term goal the character is working towards</goal>
        <goal>Another specific, long-term goal the character is working towards</goal>            <goal>A specific, short-term goal the character is actively pursuing</goal>
        <goal>Another specific, short-term goal the character is actively pursuing</goal>
    </goals>
    <notes>0 to 2 sentences of additional information not covered by the above</notes>
</personality>
<healthAttribute>Name of the attribute (from the list) that determines health gained at level up. Usually something related to toughness or stamina, but may differ for particularly strange npcs or creatures</healthAttribute>
</npc>

[… more NPCs …]

</npcs>
<memories>
    <npcMemories>
        <npcName>Exact name of the NPC these memories belong to</npcName>
        <memory>Short memory of a significant recent event from the NPC's perspective, in the style of a diary entry or personal note. No more than 2 sentences long. Memories should include interactions with other NPCs, places, things, etc.</memory>
        [... total of 3 memories ...]
    </npcMemories>
    [... an npcMemories record for each generated NPC ...]
</memories>

<bannedNpcs>
<!-- For each NPC you created above, check if it matches one of the banned names, banned concepts or existing NPCs. If it does, generate a new NPC to replace it here. -->
<npc>
<oldNpcName><!-- Exact name of the NPC being replaced --></oldNpcName>
<whichBannedThing><!-- Which banned name or concept this NPC matched; omit if existing NPC --></whichBannedThing>
<!-- The other fields are the same as in the main npc block above -->
<!-- ... -->
</npc>
<!-- more npcs as needed -->
</bannedNpcs>
</response>
