Here is a list of all character attributes:
{% for attrName, attrDef in attributeDefinitions %}- {{ attrName }}: {{ attrDef.description }} 
{% endfor %}

Attributes for an NPC should be rated as one of: poor, below average, average, above average, excellent, legendary.

{# 
These NPCs are deceased:
{% for word in bannedWords %}- {{ word }}
{% endfor %}
#}

Here's a list of existing NPCs in other regions:
{% for npc in existingNpcsInOtherRegions %}- {{ npc.name }}: {{ npc.shortDescription }} 
{% endfor %}
- Nyx: Self-appointed guardian of the region

Here is the region for which you are generating NPCs:
<region>
<name>{{ region.name }}</name>
<description>{{ region.description }}</description>
</region>

Here are all the locations in the region:
<allLocationsInRegion>
{% for loc in allLocationsInRegion %}
<location>
<name>{{ loc.name }}</name>
<description>{{ loc.description }}</description>
</location>
{% endfor %}
</allLocationsInRegion>

</context>

Generate 0 or more (up to 6) important or prominent NPCs appropriate for the region above. What is considered important depends on the region. If the region is someone's house, then the people who live in the house are important. Other important people might be leaders of the region (mayor, etc); important merchants like a blacksmith, car salesman, arms dealer, etc; any other prominent individuals (famous people, wizards, healers, well known mercenaries); or just interesting people who aren't background characters.  Do not reuse NPC names. Do not rehash existing character concepts. Advance the story by creating new character concepts that are distinct from the existing ones. Output the NPCs in this format:

<response>
<npcs>
<npc>
<name>Full name of the NPC</name>
<description>3 sentence description of the NPC, including their role in the location and any notable characteristics or behaviors</description>
<shortDescription>10 words or less description of the NPC</shortDescription>
<class>RPG class like warrior or cyberninja, job like blacksmith or cashier, or osmething generic like townsperson, peasant or citizen</class>

<race>their race (human, elf, android, etc)</race>

<isHostile>true or false</isHostile>
<relativeLevel>Integer from +2 to +5 (relative to the average level in the region)</relativeLevel>
<location>The location in the region where this NPC is located</location>
<currency>Integer amount of currency the NPC has on hand, based on setting norms.</currency>
<attributes>
{% for attrName, attrDef in attributeDefinitions %}  <attribute name="{{ attrName }}">rating (see above)</attribute>
{% endfor %}
</attributes>
<personality>
    <type>Myers-Briggs type, -dere archetype, Enneagram type, or DnD alignment, as appropriate -- whatever works best. Optionally, 2 types separated by commas, so long as they make sense together.</type>
    <traits>optionally, any neurodivergences or mental health conditions (e.g. ADHD, autism, anxiety, depression, bipolar, PTSD, sociopathy, psychopathy, etc). Comma separated, usually none, no more than 3</traits>
    <characterArc>
        <shortTerm>A brief description of the NPC's short-term active personal growth arc</shortTerm>
        <longTerm>A brief description of the NPC's long-term personal growth arc or development over the course of the campaign or story</longTerm>
    </characterArc>
    <goals>
        <goal>A specific, long-term goal the character is working towards</goal>
        <goal>Another specific, long-term goal the character is working towards</goal>            <goal>A specific, short-term goal the character is actively pursuing</goal>
        <goal>Another specific, short-term goal the character is actively pursuing</goal>
    </goals>
    <notes>0 to 2 sentences of additional information not covered by the above</notes>
</personality>
<healthAttribute>Name of the attribute (from the list) that determines health gained at level up. Usually something related to toughness or stamina, but may differ for particularly strange npcs or creatures</healthAttribute>
</npc>

[… more NPCs …]

</npcs>
<memories>
    <npcMemories npc ="Exact name of the NPC">
        <memory>Short memory of a significant recent event from the NPC's perspective, in the style of a diary entry or personal note. No more than 2 sentences long. Memories should include interactions with other NPCs, places, things, etc.</memory>
        [... total of 3 memories ...]
    </npcMemories>
    [... an npcMemories record for each generated NPC ...]
</memories>
</response>