<template>
    <comment>This prompt runs after the location generator prompt, with the context from the location generator still incliuded, hence the lack of a system prompt and other context.</comment>
    <role>Location NPC generator</role>
    <generationPrompt>

<context>
Here is a list of all character attributes:
{% for attrName, attrDef in attributeDefinitions %}- {{ attrName }}: {{ attrDef.description }} 
{% endfor %}

Attributes for an NPC should be rated as one of: poor, below average, average, above average, excellent, legendary.

These NPCs are deceased:
{% for word in bannedWords %}- {{ word }}
{% endfor %}

Here's a list of existing NPCs in other regions:
{% for npc in existingNpcsInOtherRegions %}- {{ npc.name }}: {{ npc.shortDescription }} 
{% endfor %}

Here is the region for which you are generating NPCs:
<region>
<name>{{ region.name }}</name>
<description>{{ region.description }}</description>
</region>

Here are all the locations in the region:
<allLocationsInRegion>
{% for loc in allLocationsInRegion %}
<location>
<name>{{ loc.name }}</name>
<description>{{ loc.description }}</description>
</location>
{% endfor %}
</allLocationsInRegion>

</context>

Generate 0 or more (up to 6) important or prominent NPCs appropriate for the region above. What is considered important depends on the region. If the region is someone's house, then the people who live in the house are important. Other important people might be leaders of the region (mayor, etc); important merchants like a blacksmith, car salesman, arms dealer, etc; any other prominent individuals (famous people, wizards, healers, well known mercenaries); or just interesting people who aren't background characters.  Do not reuse NPC names.  Output the NPCs in this format:

<npcs>
<npc>
<name>Full name of the NPC</name>
<description>3 sentence description of the NPC, including their role in the location and any notable characteristics or behaviors</description>
<shortDescription>10 words or less description of the NPC</shortDescription>
<class>RPG class like warrior or cyberninja, job like blacksmith or cashier, or osmething generic like townsperson, peasant or citizen</class>
<race>human, elf, android, etc</race>
<relativeLevel>Integer from +2 to +5 (relative to the average level in the region)</relativeLevel>
<location>The location in the region where this NPC is located</location>
<attributes>
{% for attrName, attrDef in attributeDefinitions %}  <attribute name="{{ attrName }}">rating (see above)</attribute>
{% endfor %}
</attributes>
</npc>

[… more NPCs …]

</npcs>
    </generationPrompt>
</template>