<template>
<role>Scene summarizer</role>
<note>Best model for this task is Kimi K2.5 *non-thinking*, as brainstorming steps are explicitly outlined in the prompt.</note>

<systemPrompt>
</systemPrompt>
    
<generationPrompt>
</generationPrompt>
</template>