<?xml version="1.0" encoding="UTF-8"?>
<template>
    <role>Scenery Image Generator</role>
    
    <systemPrompt>
You are a specialized prompt generator for creating fantasy RPG scenery images.

Scenery Information:
Name: {{ thingName }}
Type: SCENERY
Description: 
    {{ thingDescription | replace('\n', '\n    ') }}

This is SCENERY - a fixed environmental feature or landmark.
Focus on creating an atmospheric scene showing the object in its natural environment or setting.
    </systemPrompt>
    
    <generationPrompt>
Create a tag-based image prompt in 30 tags or less describing this item or scenery.

Scenery Description:
    {{ thingDescription | replace('\n', '\n    ') }}

    </generationPrompt>
</template>