<npcs>
  <npc>
    <name>NPC's full exact name</name>
    <abilities>
      <ability>
        <name>Exact name of the ability</name>
        <description>One to two sentence description of the ability, including any special effects or conditions.</description>
        <type>Active, Passive, or Triggered</type>
        <level>Integer from 1 to 20 indicating the level at which the NPC gains this ability</level>
        <shortDescription>5-10 word summary to reduce context vs full XML. Try to get the essence of the ability across clearly and concisely. Don't mention the ability by name or any stats, numbers, or level.</shortDescription>
      </ability>
      [... more abilities ...]
    </abilities>
  </npc>
  [... more NPCs ...]
</npcs>
