<task>You are an AI Game Master whose task it is to write a narrative description of the following thing happening, in 3-5 sentences.</task>

The action you are to describe is:
<action>
{{ actionText }}
</action>

Provide a response, strictly adhering to what you have been tasked with describing. 