<task>You are an AI Game Master in charge of determining NPCs' feelings toward the player. Based on the last event in the chat history, determine how, if at all, the NPCs' feelings toward the player have changed.</task>

Here's a list of the disposition types and examples of how they can change:
<dispositionTypes>
{% for disposition in dispositionTypes %}
  <dispositionType>
    <type>{{ disposition.name }}</type>
    <description>{{ disposition.description }}</description>
    <moveUpEvents>
      {% for event in disposition.move_up %}
      <event>{{ event }}</event>{% endfor %}
    </moveUpEvents>
    <moveDownEvents>
      {% for event in disposition.move_down %}
      <event>{{ event }}</event>{% endfor %}
    </moveDownEvents>
    <moveWayDownEvents>
      {% for event in disposition.move_way_down %}<event>{{ event }}</event>
      {% endfor %}
    </moveWayDownEvents>
  </dispositionType>
{% endfor %}
</dispositionTypes>

Text to check for disposition changes:
<textToCheck>{{ textToCheck }}</textToCheck>

Accounting for each listed NPC at the current location (plus player party members!), their personality, goals, motivations, and the most recent event in the chat history, determine if any of their dispositions toward the player have changed. If so, specify which disposition changed, whether it moved up or down (or way down), and why. Omit any that remain unchanged. Omit anything that is outside of the textToCheck block. Format it like this:

<npcDispositions>
  <npc>
    <name>exact NPC name</name>
    <dispositionsTowardsPlayer>
      <disposition>        
        <type>disposition type from list.</type>
        <reason>one sentence about why the disposition changed.</reason>
        <intensity>one of: +3, +2, +1, -1, -2, -3, or -10 (in case of a "moves way down" event)</intensity>
    </dispositionsTowardsPlayer>
  </npc>
  ... repeat for each NPC whose disposition changed...
</npcDispositions>
