<task>Follow the instructions (if any) and respond to the following prompt or question from the user. Assume this is a meta discussion as opposed to an in-world action.</task>

<prompt>{{ prompt }}</prompt>
