<item>
<name>Item Name</name>
<description>1-2 sentence description of the item</description>
<itemOrScenery>"item" or "scenery" depending on whether it can be picked up or not</itemOrScenery>
<type>Type of item (e.g., weapon, armor, conmsumable, tool, etc.)</type>
<slot>Available gear slots: [{% for slot in gearSlots %}{{ slot }}{% if not loop.last %}, {% endif %}{% endfor %}] or N/A if not equippable</slot>
<rarity>Junk, Common, Uncommon, Rare, Epic, Legendary, Artifact</rarity>
<value>Monetary value of the item in currency units</value>
<weight>Weight of the item in pounds</weight>
<relativeLevel>Integer from -3 to +3</relativeLevel>
<attributeBonuses>
    (optional; all uncommon or rarer items should have at least one attribute bonus; junk items should have some small negatives; common items should have none or a mix of small positives and negatives, and uncommon+ items should have progressively better stats; make them appropriate to the weapon; omit any attribute bonuses that are zero; scenery and items that cannot be equipped should not have any attribute bonuses)
    <attributeBonus>
        <attribute>Attribute name (e.g., Strength, Dexterity, Intelligence, etc.) or N/A</attribute>
        <bonus>Bonus value (between -4 and +4)</bonus>
    </attributeBonus>
</attributeBonuses>
<causeStatusEffect>
    (optional; only for uncommon or rarer items; never for scenery or items that cannot be equipped or consumed)
    <name>Name of the status effect (e.g., "Poisoned", "Blessed", etc.)</name>
    <description>1-2 sentence description of the status effect</description>
    <duration>Duration if item is consumable; N/A if equippable</duration>
</causeStatusEffect>
<properties>Any special properties or effects of the item</properties>
</item>