{% include "_includes/need-bars-context.njk" %}

Respond in this format:
Planning:
<!--
{% include "_includes/need-bars-guidance.njk" %}
-->

{% include "_includes/need-bars-characters-schema.njk" %}
