<task>For the NPC named "{{ character.name }}", for each level between {{ character.previousLevel + 1 }} and {{ character.level }}, generate a set of a minimum of 2 abilities per level to a maximum of 4 abilities per level for each of those level(s) (for a total of {{ (character.level - character.previousLevel) * 2 }} to {{ (character.level - character.previousLevel) * 4 }} abilities). Abilities should be unique and interesting, avoiding generic or overly broad abilities. Abilities should be level appropriate (level 1 is starting level and level 20+ is considered very high level). Abilities can be active, passive, or triggered, and should be more interesting than just an attribute bonus. Use your judgment to determine the number of abilities based on the NPC's race and class, and only generate them up to that NPC's current level. Character classes with fewer skills tend to have more abilities, and supernatural classes are often ability-based.</task>

If in need of ideas, consider the information provided in the context. Don't replicate the function of any abilities the character already has; however, you may create abilities that synergize with or enhance existing abilities. Abilities should pertain to the character's class, race, game history, personality, secrets, and/or role in the story.  Try to vary what you base them on (some should be class related, some should have to do with what they've done in the game history, and so on).

Output the abilities in this format:

{% include "_includes/ability-format.njk" %}
