For the NPC named "{{ character.name }}", for each level between {{ character.previousLevel + 1 }} and {{ character.level }}, generate a set of 2 to 4 abilities for that level (for a total of {{ (character.level - character.previousLevel) * 2 }} to {{ (character.level - character.previousLevel) * 4 }} abilities). Abilities should be unique and interesting, avoiding generic or overly broad abilities. Abilities should be level appropriate (level 1 is starting level and level 20 is considered very high level). Abilities can be active, passive, or triggered, and should be more interesting than just an attribute bonus. Use your judgment to determine the number of abilities based on the NPC's race and class, and only generate them up to that NPC's current level. Character classes with fewer skills tend to have more abilities, and supernatural classes are often ability-based. Output the abilities in this format:

{% include "_includes/ability-format.njk" %}
