<task>
Let's talk about plot complications and plot threads. 

A plot in this situation is the character(s) having to do thing A. A plot complication is the character discovering that they have to do thing B in order to be able to do thing A. Two levels of plot complication would be them discovering that they have to do thing C in order to do thing B (in order to do thing A).

If a plot complication is considered to be in series, plot threads run in parallel and may each have their own complications.

Your task is to list all of the currently running plot threads and determine which one of those is being addressed currently (if more than one, choose the one that feels more complex). Then, for that plot thread, list the current plot complications in series, starting with the main plot and then each complication in order. If there are no complications, just list the main plot.
</task>

First, list the active plot threads informally in bullet points, noting which one is the current focus. Then, for that active plot, list any currently running complications in series (if there are any) in a numbered list, starting with the main plot and then each complication in order. If there are no complications, just list the main plot.

Then, output the following XML structure:

<response>
  <plotThreads>
    <plotThread>
      <description><!-- 1-2 sentence description of the plot thread --></description>
      <isCurrentFocus><!-- true or false --></isCurrentFocus>
    </plotThread>
    ... repeat for each plot thread ...
  </plotThreads>
  <currentPlotComplications>
    <complication>
      <description><!-- 1-2 sentence description of the complication, starting with the main plot and then each complication in order --></description>
    </complication>
    ... repeat for each complication ...
  </currentPlotComplications>
</response>
