<task>Generate a list of up to {{ regionContext.locations.length / 2 | ceil }} secret(s) for the specified region. These secrets should be relevant to the setting, culture, and environment of the region, and should provide interesting plot hooks or background information for players to discover. Each secret should be concise, intriguing, and open-ended enough to allow for further exploration and development in the game world.</task>

<currentRegion>
  <name>{{ regionContext.name }}</name>
  <description>{{ regionContext.description }}</description>
  <locations>
    {% for loc in regionContext.locations %}<locationName>{{ loc.name }}</locationName>
    <description>{{ loc.description }}</description>
    {% endfor %}</locations>
  <connectedRegions>
    {% for reg in regionContext.connectedRegions %}<regionName>{{ reg.name }}</regionName>
    {% endfor %}
  </connectedRegions>
</currentRegion>

Return them in this format:

<secrets>
  <secret>1-2 sentence description of a secret or hidden feature</secret>
  ... additional secret tags as needed ...
</secrets>