Information about the setting of the game:
<settingInfo>
  <name>{{ setting.name }}</name>
  <description>{{ setting.description }}</description>
  <theme>{{ setting.theme }}</theme>
  <genre>{{ setting.genre }}</genre>
  <magicLevel>{{ setting.magicLevel }}</magicLevel>
  <techLevel>{{ setting.techLevel }}</techLevel>
  <tone>{{ setting.tone }}</tone>
  <difficulty>{{ setting.difficulty }}</difficulty>
</settingInfo>