<attributeDefinitions>
{% if attributeDefinitions %}
    {% for attrName, attrDef in attributeDefinitions | dictsort %}
    <attribute>
    <name>{{ attrName }}</name>
    <description>{{ attrDef.description }}</description>
    </attribute>
    {% endfor %}
{% endif %}
</attributeDefinitions>
<equipmentSlots>
{% for slot in equipmentSlots %}  <slot>{{ slot }}</slot>
{% endfor %}
</equipmentSlots>

{% include "_includes/item-output.njk" %}

<task>Separate the item above and return the updated item definition(s).</task>

Guidelines: 

- Determine if the item is made of multiple *different* items, or if it's a stack of identical items.
- If it's made of multiple different items, separate it into those items. For instance, a basket of skin care products would be separated into the individual skin care products, plus the empty basket. This does *not* disassemble an item into its component materials. A Table would not be separated into wood planks and nails, but a Basket of Apples would be separated into the Basket and the Apples (if the apples are identical, they can be a stack with a count; if not, separate them into different items).
- If it's a stack of items with a count of one and a number specified in the description (e.g., "A bundle of 5 arrows"), separate it into a stack of identical items with the appropriate count (e.g., 5 arrows with count 5). Keep all stats except description, name, and short description the same.
- If it's just one item that can't be separated as above, return an empty items list.

Respond in the following format if it's separated into multiple items:
<items>
{% include "_includes/item.njk" %}
... more items as needed ...
</items>

- Be sure to consider both the item name and description when determining if and how it can be separated.

Respond in the following format if it's a stack of identical items:
<stack>
    <name><!-- Name of a single item in the stack --></name>
    <description><!-- Description of a single item in the stack --></description>
    <shortDescription><!-- Short description of a single item in the stack --></shortDescription>
    <count><!-- Count of items in the stack. If it's a stack of multiple identical items and no count is specified, make an educated guess based on the item and description --></count>
    <!-- Do not add any other stats or attributes here, as they should be the same as the original item -->
</stack>

Respond with the following if it cannot be separated:
<items></items>