<template>
    <comment>This prompt runs after items are generated.</comment>
    <role>NPC name regenerator</role>
<generationPrompt>

Here's a list of items in the game:
{% for item in existingItems %}{{ item.name }}|{% endfor %}

Here is a list of items that have duplicate names:
<itemsToRegenerateName>
{% for item in itemsToRegenerateName %}- {{ item.name }}
<item>
  <name>{{ item.name }}</name>
  <description>{{ item.description }}</description>
</item>
{% endfor %}
</items>

{% if bannedWords %}
Banned words:
{% for word in bannedWords %}- {{ word }}
{% endfor %}
{% endif %}

Give each item a different name that fits the setting and culture of the location and region{% if bannedWords %}, and does not use any of the banned words{% endif %}. The ITEM name should be unique among all items in the game. Replace their name in the description as well, if ite appears there. Return them in this format:
<items>
  <item>
    <oldName>original item name</oldName>
    <name>new item name</name>
    <description>description</description>
  </item>
  <item>
    ... the rest of the items ...
  </item>
</items>
</generationPrompt>
</template>