<attributeDefinitions>
{% if attributeDefinitions %}
    {% for attrName, attrDef in attributeDefinitions | dictsort %}
    <attribute>
    <name>{{ attrName }}</name>
    <description>{{ attrDef.description }}</description>
    </attribute>
    {% endfor %}
{% endif %}
</attributeDefinitions>
<equipmentSlots>
{% for slot in equipmentSlots %}  <slot>{{ slot }}</slot>
{% endfor %}
</equipmentSlots>

<task>Generate a single item that's appropriate to the current setting, location and region. Strictly keep already filled in fields as they are, and fill in the rest of the fields in a way that makes sense with the existing ones.  Return it in this format:</task>

<items>
{% include "_includes/item.njk" %}
</items>

The item's rarity is {{ thingSeed.rarity }}: {{ thingSeed.rarityDescription }}

Note that bonuses will be normalized to the rarity after generation, so use the full range of bonuses (-4 to +4) as needed.

