{
  "76": {
    "inputs": {
      "image": "{{ image.sourceFilename | json }}"
    },
    "class_type": "LoadImage",
    "_meta": {
      "title": "Load Image"
    }
  },
  "94": {
    "inputs": {
      "filename_prefix": [
        "719",
        0
      ],
      "images": [
        "124",
        0
      ]
    },
    "class_type": "SaveImage",
    "_meta": {
      "title": "Save Image"
    }
  },
  "122": {
    "inputs": {
      "sampler_name": "euler"
    },
    "class_type": "KSamplerSelect",
    "_meta": {
      "title": "KSamplerSelect"
    }
  },
  "123": {
    "inputs": {
      "noise": [
        "125",
        0
      ],
      "guider": [
        "138",
        0
      ],
      "sampler": [
        "122",
        0
      ],
      "sigmas": [
        "137",
        0
      ],
      "latent_image": [
        "129",
        0
      ]
    },
    "class_type": "SamplerCustomAdvanced",
    "_meta": {
      "title": "SamplerCustomAdvanced"
    }
  },
  "124": {
    "inputs": {
      "samples": [
        "123",
        0
      ],
      "vae": [
        "127",
        0
      ]
    },
    "class_type": "VAEDecode",
    "_meta": {
      "title": "VAE Decode"
    }
  },
  "125": {
    "inputs": {
      "noise_seed": 285
    },
    "class_type": "RandomNoise",
    "_meta": {
      "title": "RandomNoise"
    }
  },
  "126": {
    "inputs": {
      "unet_name": "flux-2-klein-9b-kv-fp8.safetensors",
      "weight_dtype": "default"
    },
    "class_type": "UNETLoader",
    "_meta": {
      "title": "Load Diffusion Model"
    }
  },
  "127": {
    "inputs": {
      "vae_name": "flux2-vae.safetensors"
    },
    "class_type": "VAELoader",
    "_meta": {
      "title": "Load VAE"
    }
  },
  "129": {
    "inputs": {
      "width": [
        "723",
        0
      ],
      "height": [
        "723",
        1
      ],
      "batch_size": 1
    },
    "class_type": "EmptyFlux2LatentImage",
    "_meta": {
      "title": "Empty Flux 2 Latent"
    }
  },
  "133": {
    "inputs": {
      "clip_name": "qwen_3_8b_fp8mixed.safetensors",
      "type": "flux2",
      "device": "default"
    },
    "class_type": "CLIPLoader",
    "_meta": {
      "title": "Load CLIP"
    }
  },
  "135": {
    "inputs": {
      "text": [
        "727",
        0
      ],
      "clip": [
        "133",
        0
      ]
    },
    "class_type": "CLIPTextEncode",
    "_meta": {
      "title": "CLIP Text Encode (Positive Prompt)"
    }
  },
  "137": {
    "inputs": {
      "steps": 4,
      "width": [
        "723",
        0
      ],
      "height": [
        "723",
        1
      ]
    },
    "class_type": "Flux2Scheduler",
    "_meta": {
      "title": "Flux2Scheduler"
    }
  },
  "138": {
    "inputs": {
      "cfg": 1,
      "model": [
        "139",
        0
      ],
      "positive": [
        "134:118",
        0
      ],
      "negative": [
        "134:116",
        0
      ]
    },
    "class_type": "CFGGuider",
    "_meta": {
      "title": "CFGGuider"
    }
  },
  "139": {
    "inputs": {
      "model": [
        "714",
        0
      ]
    },
    "class_type": "FluxKVCache",
    "_meta": {
      "title": "Flux KV Cache"
    }
  },
  "685": {
    "inputs": {
      "conditioning": [
        "135",
        0
      ]
    },
    "class_type": "ConditioningZeroOut",
    "_meta": {
      "title": "ConditioningZeroOut"
    }
  },
  "714": {
    "inputs": {
      "output_strength": 1,
      "clip_strength_multiplier": 1,
      "model": [
        "126",
        0
      ],
      "lora_stack": [
        "716",
        0
      ]
    },
    "class_type": "LoRAOptimizerSimple",
    "_meta": {
      "title": "LoRA Optimizer"
    }
  },
  "716": {
    "inputs": {
      "switch_1": "On",
      "lora_name_1": "Klein-consistency.safetensors",
      "model_weight_1": 1,
      "clip_weight_1": 1,
      "switch_2": "Off",
      "lora_name_2": "flux_klein/flux_klein_9b_painting.safetensors",
      "model_weight_2": 1,
      "clip_weight_2": 1,
      "switch_3": "Off",
      "lora_name_3": "None",
      "model_weight_3": 1,
      "clip_weight_3": 1
    },
    "class_type": "CR LoRA Stack",
    "_meta": {
      "title": "💊 CR LoRA Stack"
    }
  },
  "719": {
    "inputs": {
      "format": "%Y-%m-%d/Flux2_Klein_9b_kv"
    },
    "class_type": "JWDatetimeString",
    "_meta": {
      "title": "Datetime String"
    }
  },
  "723": {
    "inputs": {
      "image": [
        "76",
        0
      ]
    },
    "class_type": "GetImageSize",
    "_meta": {
      "title": "Get Image Size"
    }
  },
  "134:116": {
    "inputs": {
      "conditioning": [
        "685",
        0
      ],
      "latent": [
        "134:117",
        0
      ]
    },
    "class_type": "ReferenceLatent",
    "_meta": {
      "title": "ReferenceLatent"
    }
  },
  "134:117": {
    "inputs": {
      "pixels": [
        "76",
        0
      ],
      "vae": [
        "127",
        0
      ]
    },
    "class_type": "VAEEncode",
    "_meta": {
      "title": "VAE Encode"
    }
  },
  "134:118": {
    "inputs": {
      "conditioning": [
        "135",
        0
      ],
      "latent": [
        "134:117",
        0
      ]
    },
    "class_type": "ReferenceLatent",
    "_meta": {
      "title": "ReferenceLatent"
    }
  },
  "727": {
    "inputs": {
      "text": "{{ image.prompt | json }}"
    },
    "class_type": "Text Multiline",
    "_meta": {
      "title": "Text Multiline"
    }
  },
  "728": {
    "inputs": {
      "label": "Final Prompt",
      "text": [
        "727",
        0
      ]
    },
    "class_type": "Text to Console",
    "_meta": {
      "title": "Text to Console"
    }
  },
  "729": {
    "inputs": {
      "text": "",
      "anything": [
        "728",
        0
      ]
    },
    "class_type": "easy showAnything",
    "_meta": {
      "title": "Show Any"
    }
  }
}
