Was the current location permanently altered in a significant way (major changes to the location itself, not npcs, items, or scenery)? If so, answer in the format "[new location name] -> [1 sentence description of alteration]".  It is not necessary to change the name of the location if it doesn't make sense to do so. In that case, output the same name. If the location was not altered, answer N/A.