Was an item in the scene or any inventory permanently altered in any way (e.g., upgraded, modified, enchanted, broken, etc.)? If so, answer in the format "[exact item name] -> [new item name] -> [1 sentence description of alteration]". If multiple items were altered, separate multiple entries with semicolons. It is not necessary to change the name of the item if it doesn't make sense to do so. In that case, output the same name in the [new item name] position. If no items were altered, answer N/A.