Did anyone drop, leave, or set down an item (not including giving to a person)? If so, answer in the format "[character] -> [item]". If there are multiple characters, separate multiple entries with vertical bars. Otherwise, answer N/A.
