Did any new items, loot, furniture, workstations, scenery, containers, or resources (but not people!) appear in the scene? If so, list the items (capitalized as Proper Nouns) separated by vertical bars; otherwise answer N/A. Note that items that are mentioned as already present but not previously listed in the scene context count as having appeared
