Did any NPC arrive or leave this location? If so, list in this format:"[npc name] arrived" or "[npc name] left -> [location]" separated by semicolons (using the exact names of the NPCs). If an NPC departed to a location, try to match one from the list of locations. If there's no possible match in the location list, make a new one. If no NPCs arrived or left, respond with N/A. Note that NPC is loosely defined and can include animals, monsters, or other beings, sentient or otherwise
