Did any new furniture, workstations, scenery, containers, resource nodes (anything that can be gathered from), or other objects that can't be conveniently picked up appear in the scene? If so, list them (capitalized as Proper Nouns) separated by vertical bars; otherwise answer N/A. Note that things that are mentioned as already present but not previously listed in the scene context count as having appeared.
